<aside id="sidebar" class="open">
  <div id="sidebar-left">
    <a id="sidebar-avatar" href="{{ "/" | prepend: site.baseurl }}">
      <img id="sidebar-avatar-img" alt="{{ site.tittle }}" src="{{ site.avatar | prepend: site.baseurl }}"/>
    </a>

	<!--1. img and social icon-->
    <div id="sidebar-social">
      <a href="{{ site.rss_url | prepend: site.baseurl }}" class="sidebar-social-icon feed"></a>
      <a href="mailto:{{ site.email }}" class="sidebar-social-icon email"></a>
      {% include social.html %}
    </div>
	
	<!--2. category tags-->
	<ul id="sidebar-tags">
	  <li class="sidebar-tag active" data-filter="recent">近期文章</li>
	  {% if site.filter == 'category' %}
		{% assign custom_order = "开发随笔,科研笔记,算法模型,人间草木" | split: ',' %}
		{% assign sorted_categories = "" %}
		{% for order in custom_order %}
		  {% for category in site.categories %}
			{% if category[0] == order %}
			  {% assign sorted_categories = sorted_categories | append: category[0] | append: "," %}
			{% endif %}
		  {% endfor %}
		{% endfor %}
		{% assign sorted_categories = sorted_categories | split: ',' %}
		{% for category in sorted_categories %}
		  {% if category != "" %}
			<li class="sidebar-tag" data-filter="{{ category }}">{{ category }}</li>
		  {% endif %}
		{% endfor %}
	  {% elsif site.filter == 'tag' %}
		{% for tag in site.tags %}
		  <li class="sidebar-tag" data-filter="{{ tag | first }}">{{ tag | first }}</li>
		{% endfor %}
	  {% endif %}
	  <!--3. footer-->
	  {% include footer.html %}
	</ul>
	</div>

  <div id="sidebar-right">
  	  <!--4. search box-->
      <div id="search-box">
        <form id="search-form">
            <!-- <div class="search-container">
                <input id="search-input" name="q" type="text" placeholder="Search" />
                <button type="submit">搜索</button> -->
                <div class="search-container" style="position: relative;">
                  <input id="search-input" name="q" type="text" placeholder="请输入关键字搜索..." style="padding-right: 40px; height: 40px; line-height: 40px;box-sizing: border-box;" />
                  <button type="submit" id="search-button" style="position: absolute; right: 0; top: 0; height: 100%;">搜索</button>                
            </div>
        </form>
    </div>

    <script>
      document.getElementById('search-button').addEventListener('click', function() {
        this.classList.add('button-clicked');
      });
    </script>

    <!--5.articles on each categories-->
    <nav id="toc">
      <!--want to in reserved order: for  post in site.posts reversed-->
      {% if site.filter == 'category' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.categories | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.tags | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>
</aside>
